@tailwind base;
@tailwind components;
@tailwind utilities;

/* Добавьте ваши стили ниже */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --wine: #8B0000;
  --dark-wine: #2c0b14;
}

@layer base {
  :root {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist);
    --font-mono: var(--font-geist-mono);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

.wine-wave {
  transform-origin: center;
  animation: waveOpacity 8s ease-in-out infinite;
  filter: blur(10px);
}

@keyframes waveOpacity {
  0%, 100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
}

.wine-waves {
  animation: waveFloat 20s ease-in-out infinite;
}

@keyframes waveFloat {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2%);
  }
}

.wine-animation-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 0;
  mix-blend-mode: overlay;
}
